
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

main {
    display: flex;    
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.celular img {
    height: 50rem;
}

.acesso {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.login {
    background-color: #fff;
    display: flex;
    width: 350px;
    height: 380px; 
    display: flex;
    border: rgb(223, 222, 222) solid 1px;
    flex-direction: column;
}

.logo {
    margin: 40px auto;
}

.login input {
    width: 80%;
    margin: 2px auto;
    border: rgb(223, 222, 222) solid 1px;
    height: 2rem;
    background-color: rgb(243, 241, 241);
    color: grey;
    padding-left: 8px;
    border-radius: 3px;
}

.login button {
    width: 80%;
    margin: 10px auto;
    border: rgb(223, 222, 222) solid 1px;
    height: 2rem;
    color: rgb(243, 241, 241);
    background-color: rgb(101, 189, 251);
    padding-left: 8px;
    border-radius: 3px;
}

.ou {
    text-align: center;
    margin-top: 20px;
}

.facebook {
    display: flex;
    align-items: center;
    margin: 20px 20px 0px 90px;
}

.facebook img {
    width: 1.3rem;
}

.facebook a {
    text-decoration: none;
    margin-top: 2px;
    color:rgb(17, 123, 199);
}


.cadastro {
    background-color: #fff;
    width: 350px;
    height: 50px; 
    display: flex;
    border: rgb(223, 222, 222) solid 1px;
    margin-top: 10px;
    align-items: center;
    padding-left: 45px;
}

.cadastro a {
    color:rgb(17, 123, 199);
    text-decoration: none;
} 

.obter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
    margin-top: 30px;
}

.obter-buttons {
    margin-top: 20px;
}

.obter img {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}


/* media queries */


@media (max-width: 1150px) {
    main {
        width: 90%;
    }
}

@media (max-width: 850px) {
    body {
        background-color: #ffffff;
    }

    main {
        width: 90%;
    }

    .celular {
        display: none;
    }

    .acesso {
        width: 100%;
    }
    
    .login {
        border: 1px solid transparent;
    }
}















